.welcome
    display: flex

    @include responsive(phone)
        justify-content: center
    
    @include responsive(tab-land)
        justify-content: start

    &-text
        background-color: rgba(255, 255, 255, 0.712)
        @include responsive(phone)
            position: relative
            z-index: 2
            top: 15rem
            text-align: center
            padding: 2rem
            font-weight: 600
            font-size: 1.5em
            width: 100%

        @include responsive(tab-port)
            top: 20rem

        @include responsive(tab-land)
            top: 43.5rem
            text-align: left
            font-size: 1.2em