.welcome
    display: flex
    position: absolute
    z-index: 2
    @include responsive(phone)
        flex-direction: column
    @include responsive(tab-land)
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 100%
        background: rgba(255, 255, 255, 0.808)
        bottom: 0

    &-content
        font-family: 'Montserrat', sans-serif
        @include responsive(phone)
            text-align: center
            padding: 2rem
            font-weight: 600
            font-size: 1.5em
            width: 100%

        @include responsive(tab-port)

        @include responsive(tab-land)
            text-align: left
            font-size: 1.2em
        